{% comment %}
Assumes distro and package are defined
{% endcomment %}

{% if package.data.deprecated and package.data.deprecated != '' %}
  <div class="alert alert-warning"><h3><strong>Package Deprecated</strong></h3> {{package.data.deprecated}}</div>
{% endif %}

<ul class="nav nav-tabs nav-justified" id="{{distro}}-tabs" style="margin-bottom:20px">
  <li class="nav-item better-tabs">
    <a class="nav-link active" href="#{{distro}}-overview" data-bs-toggle="tab">Overview</a>
  </li>
  <li class="nav-item better-tabs">
    {% assign n_launch = package.data.launch_data | size %}
    {% assign n_msgs = package.data.msg_files | size %}
    {% assign n_srvs = package.data.srv_files | size %}
    {% assign n_plugins = package.data.plugin_data | size %}
    {% assign n_assets = n_launch | plus: n_srvs | plus: n_msgs | plus: n_plugins %}
    <a class="nav-link" href="#{{distro}}-assets" data-bs-toggle="tab"><span class="badge {%if n_assets == 0%}bg-secondary{%else%}bg-primary{%endif%}">{{n_assets}}</span> Assets</a>
  </li>
  <li class="nav-item better-tabs">
    {% assign n_dependants = package.data.dependants | size %}
    {% assign n_pkg_deps = package.data.pkg_deps | size %}
    {% assign n_system_deps = package.data.system_deps | size %}
    {% assign n_deps = n_pkg_deps | plus: n_system_deps %}
    <a class="nav-link" href="#{{distro}}-deps" data-bs-toggle="tab"><span class="badge {%if n_deps == 0%}bg-secondary{%else%}bg-primary{%endif%}">{{n_deps}}</span> Dependencies</a>
  </li>
  <li class="nav-item better-tabs">
    <a class="nav-link" href="#{{distro}}-questions" data-bs-toggle="tab"><span id="{{distro}}-questions-count" class="badge bg-primary">0</span> Q & A</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="{{distro}}-overview">
    {% if package.repo.release_manifests[distro] %}
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info">
            <h4>Third-Party Package</h4>
            This third-party package's source repository does not contain a package manifest. Instead, its package manifest is stored in its <em>release repository</em>.
            In order to build this package from source in a Catkin workspace, please <a class="alert-link" target="_blank" href="{{site.baseurl}}/p/{{package.name}}/{{distro}}/package.xml">download its package manifest</a>.
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card mb-3">
          <div class="card-header"><h4 class="card-title mb-0">Package Summary</h4></div>
          <div class="card-body">
            <table class="table table-sm">
              <tr>
                <td style="width:100px;" class="text-end"><strong>Version</strong></td>
                <td>{{ package.data.version }}</td>
              </tr>
              <tr>
                <td class="text-end"><strong>License</strong></td>
                <td>{{ package.data.license }}</td>
              </tr>
              <tr>
                <td class="text-end"><strong>Build type</strong></td>
                <td>
                  {% if package.data.pkg_type == 'catkin' %}
                    <span class="badge bg-info">
                  {% else %}
                    <span class="badge bg-secondary">
                  {% endif %}
                    {{package.data.pkg_type | upcase}}</span>
                </td>
              </tr>
              <tr>
                <td class="text-end"><strong>Use</strong></td>
                <td>
                {% if package.data.deprecated and package.data.deprecated != '' %}
                  <span class="badge bg-warning text-dark">DEPRECATED</span>
                {%else%}
                  <span class="badge bg-success">RECOMMENDED</span>
                {%endif%}
                </td>
              </tr>
            </table>
          </div>
          <div class="card-header"><h3 class="card-title mb-0">Repository Summary</h3></div>
          <div class="card-body">
            {% assign repo = package.repo %}
            {% assign snapshot = package.snapshot %}
            {% include repo_summary.html %}
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-6">
        <div class="card mb-3">
          <div class="card-header"><h3 class="card-title mb-0">Package Description</h3></div>
          <div class="card-body">
            {{ package.data.description}}
          </div>
          {% assign n_urls = package.data.urls | size %}
          {% if n_urls > 0 %}
          <div class="card-header"><h4 class="card-title mb-0">Additional Links</h4></div>
          <div class="card-body">
            <ul class="list-unstyled">
              {% for url in package.data.urls %}
                <li><a href="{{url.uri}}">{%if url.type%}{{url.type | capitalize}}{%else%}{{url.domain}}{%endif%}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          <div class="card-header"><h4 class="card-title mb-0">Maintainers</h4></div>
          <div class="card-body">
            {% assign n_maintainers = package.data.maintainers | size %}
            {% if n_maintainers > 0 %}
              <ul class="list-unstyled">
                {% for m in package.data.maintainers %}
                  <li>{{m | replace: '@', ' [AT] ' }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <em>No known maintainers.</em>
            {% endif %}
          </div>
          <div class="card-header"><h4 class="card-title mb-0">Authors</h4></div>
          <div class="card-body">
            {% assign n_authors = package.data.authors | size %}
            {% if n_authors > 0 %}
              <ul class="list-unstyled">
                {% for a in package.data.authors %}
                  <li>{{a | replace: '@', ' [AT] ' }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <em>No additional authors.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% unless package.data.readmes == empty %}
      {% for readme in package.data.readmes %}
        <div class="row">
          <div class="col-12">
            <div class="card mb-3">
              <div class="card-header"><i class="bi bi-file-text"></i><a href="{{readme.browse_uri}}" title="Open in git repository">{{ readme.relpath }}</a></div>
              <div class="card-body">
                    {{ readme.readme_rendered }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="row">
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header"><i class="bi bi-file-text"></i> README </div>
            <div class="card-body">
            <em>No README found.</em>
            {% if package.snapshot.data.readme_rendered %} <em><a href="{{site.baseurl}}/r/{{package.repo.name}}/#{{distro}}">See repository README.</a></em>
            {% else %}
              <em>No README in repository either.</em>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endunless %}
    <div class="row">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header"><i class="bi bi-list-ul"></i> CHANGELOG</div>
          <div class="card-body">
            {% if package.data.changelog_rendered %}
              {{ package.data.changelog_rendered }}
            {% else %}
              <em>No CHANGELOG found.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-deps">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
            <h3 class="card-title mb-0">Package Dependencies</h3>
          </div>
          <div class="card-body">
            {% if n_pkg_deps > 0 %}
              <table class="table table-sm table-striped">
                <thead>
                  <th class="text-center">Deps</th>
                  <th style="width: 100%">Name</th>
                </thead>
                <tbody>
                  {% for p in package.data.pkg_deps %}
                    {% assign n_instances = p[1].instances | size %}
                    {% if n_instances > 0 %}
                      <tr>
                        <td class="text-center">
                          {% assign n_2nd_order_deps = p[1].snapshots[distro].data.pkg_deps | size %}
                          <a href="{{site.baseurl}}/p/{{p[0]}}/#{{distro}}-deps" {% if n_2nd_order_deps == 0 %}class="endoftree"{% endif %}>
                            <i class="bi bi-arrow-left" title="Package dependencies"></i>
                          </a>
                        </td>
                        <td><a href="{{site.baseurl}}/p/{{p[0]}}/#{{distro}}">{{p[0]}} {{n_2nd_order_pdeps}} {{n_2nd_order_sdeps}}</a></td>
                      </tr>
                    {% else %}
                      <tr>
                        <td class="text-center"></td>
                        <td>{{p[0]}}</td>
                      </tr>
                    {% endif %}
                  {%endfor%}
                </tbody>
              </table>
            {% else %}
              <em>No dependencies on ROS packages.</em>
            {% endif %}
          </div>
          <div class="card-header">
            <h3 class="card-title mb-0">System Dependencies</h3>
          </div>
          <div class="card-body">
            {% if n_system_deps > 0 %}
              <table class="table table-sm table-striped">
                <thead>
                  <th>Name</th>
                </thead>
                <tbody>
                  {% for d in package.data.system_deps %}
                    {% if d[1] %}
                      <tr>
                        <td><a href="{{site.baseurl}}/d/{{d[0]}}">{{d[0]}}</a></td>
                      </tr>
                    {% else %}
                      <tr class="danger">
                        <td>{{d[0]}}</td>
                      </tr>
                    {% endif %}
                  {%endfor%}
                </tbody>
              </table>
            {% else %}
              <em>No direct system dependencies.</em>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
            <h3 class="card-title mb-0">Dependant Packages</h3>
          </div>
          <div class="card-body">
            {% if n_dependants > 0 %}
              <table class="table table-sm table-striped">
                <thead>
                  <th>Name</th>
                  <th class="text-center">Deps</th>
                </thead>
                <tbody>
                  {% for d in package.data.dependants %}
                    {% assign dep_name = d[0] %}
                    {% for dep_instance in d[1] %}
                    <tr>
                      <td><a href="{{site.baseurl}}/p/{{dep_name}}/#{{distro}}">{{dep_name}}</a></td>
                      <td class="text-center">
                        {% assign n_2nd_order_deps = dep_instance.package.data.dependants | size %}
                        <a href="{{site.baseurl}}/p/{{dep_name}}/#{{distro}}-deps" {% if n_2nd_order_deps == 0 %}class="endoftree"{% endif %}>
                          <i class="bi bi-arrow-right"></i>
                        </a>
                      </td>
                    </tr>
                    {% endfor %}
                  {%endfor%}
                </tbody>
              </table>
            {% else %}
              <em>No known dependants.</em>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-assets">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0">Launch files</h3>
      </div>
      <div class="card-body">
        {% if n_launch > 0 %}
          <ul>
            {% for f in package.data.launch_data %}
              <li><a href="{{package.data.browse_uri}}/{{f.relpath}}" target="_blank">{{f.relpath}}</a>
                <ul class="list-unstyled">
                  {% if f.comment %}
                    <li><em>{{f.comment}}</em></li>
                  {% endif %}
                  <li>
                    <ul>
                      {% for a in f.args %}
                        {% unless a.value %}
                          <li><strong>{{a.name}}</strong> {%if a.default%}<em>&#91;default: {{a.default}}&#93;{%endif%} {% if a.doc%} &#8212; {{a.doc}}{%endif%}</em></li>
                        {% endunless %}
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No launch files found</em>
        {% endif %}
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0">Messages</h3>
      </div>
      <div class="card-body">
        {% if n_msgs > 0 %}
          <ul>
            {% for f in package.data.msg_files %}
              <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No message files found.</em>
        {% endif %}
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0">Services</h3>
      </div>
      <div class="card-body">
        {% if n_srvs > 0 %}
          <ul>
            {% for f in package.data.srv_files %}
              <li><a href="{{package.data.browse_uri}}/{{f}}" target="_blank">{{f}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No service files found</em>
        {% endif %}
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0">Plugins</h3>
      </div>
      <div class="card-body">
        {% if n_plugins > 0 %}
          <ul>
            {% for f in package.data.plugin_data %}
              <li><a href="{{package.data.browse_uri}}/{{f.file}}" target="_blank">{{f.name}}</a></li>
            {%endfor%}
          </ul>
        {% else %}
          <em>No plugins found.</em>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="tab-pane" id="{{distro}}-questions">
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title mb-0">Recent questions tagged <kbd>{{package.name}}</kbd> at <strong><a href="https://robotics.stackexchange.com/" target="_blank">Robotics Stack Exchange</a></strong></h3>      </div>
      <div id="{{distro}}-question-list" class="card-body" style="display: none;"></div>
      <div id="{{distro}}-no-question-list" class="card-body" style="display: none;">
        <p>No questions yet, <a href="https://robotics.stackexchange.com/questions/tagged/{{package.name}}+{{distro}}">you can ask one on Robotics Stack Exchange</a>.</p>
      </div>
      <div id="{{distro}}-get-question-fail" class="card-body alert alert-warning" style="display: none;">
        <p>Failed to get question list, <a href="https://github.com/ros-infrastructure/rosindex/issues/new" target="_blank" class="alert-link">you can ticket an issue on the github issue tracker</a>.</p>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
jQuery(function() {
    // Update the count on the links to the contribution suggestions
    updateContributionSuggestionsCountOnPackage('{{package.repo.uri}}');
});
</script>
