{% comment %} Template for Q&A content {% endcomment %}
<script id="question-list-template" type="text/html">
  <p>
    Browse <a href="https://robotics.stackexchange.com/questions/tagged/{{package.name}}?tab=Newest">recent questions</a>
    or see the <a href="https://robotics.stackexchange.com/questions/tagged/{{package.name}}?tab=Votes">highest voted ones</a>.
  </p>
  {% raw %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Answered?</th>
        <th scope="col">Created</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      {{#questions}}
      <tr>
        <th scope="row"><a href="{{link}}">{{title}}</a><br><small>Tags: {{strtags}}</small></th>
        <th>{{answered}}</th>
        <th>{{created}}</th>
        <th>{{active}}</th>
      </tr>
      {{/questions}}
    </tbody>
  </table>
  {{#has_more}}
  <hr>
  <h4>Additional questions are available at
    <a href="https://robotics.stackexchange.com/questions/tagged/{{name}}?tab=Newest">Robotics Stack Exchange</a>
  </h4>
  {{/has_more}}
  {% endraw %}
</script>

<script type="text/javascript" src="{{ '/js/mustache.js' | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  jQuery(function() {
    jQuery.getJSON(url="https://api.stackexchange.com/2.3/questions?order=desc&site=robotics" +
                       "&tagged={{package.name}}&pagesize=50&sort=activity")
    .done(function(feed) {
      if (feed.items.length > 0) {
        var question_count_str = (feed.has_more ? '>' : '') + String(feed.items.length)
        const questions = feed.items.map(
          function(question) {
            question.id = Math.round(Math.random() * 99999.0);
            question.created = (new Date(question.creation_date * 1000)).toDateString()
            question.active = (new Date(question.last_activity_date * 1000)).toDateString()
            question.answered = question.is_answered ? "Yes" : "No"
            question.strtags = question.tags.join(' ')
            return question;
          });
        const template = jQuery("#question-list-template").text();
        Mustache.parse(template);
        var rendered = Mustache.render(
          template, 
          { questions: questions,
            has_more: feed.has_more,
            name: "{{package.name}}"
          }
        );
      }
      //   TODO(tfoote) Resolve images
      //   jQuery("#{{distro}}-question-list img").each(function() {
      //     if (jQuery(this).attr("src").startsWith("/upfiles")) {
      //        jQuery(this).attr("src", "https://answers.ros.org" + jQuery(this).attr("src"));
      //     }
      //   });
      {% for distro in page.all_distros %}
      if (feed.items.length > 0) {
        jQuery("#{{distro}}-question-list").html(rendered);
        jQuery("#{{distro}}-question-list").show();
      } else {
        jQuery("#{{distro}}-no-question-list").show();
      }
      jQuery("#{{distro}}-questions-count").text(question_count_str);
      {% endfor %}
    })
    .fail(function(jqxhr, textStatus, error) {
      console.error("Failed to get question data: " + jqxhr.responseText);
      {% for distro in page.all_distros %}
      jQuery("#{{distro}}-get-question-fail").show();
      {% endfor %}
    });
  });
</script>
