<div class="well well-sm">
  <div>
    
  </div>
  
  <table class="table">
    <tr>
      <td width="100px" class="text-center">
        <img style="width: 80px;" src="{{ '/assets/repo.png' | prepend: site.baseurl }}" alt="Repo symbol">
      </td>
      <td>
        <h3><a style="text-decoration:none;" href="{{site.baseurl }}/r/{{repo.name}}/">{{repo.name}}</a> <small>repository</small></h3>
        {% for p in repo.snapshots[rendered_distro].packages %}
        <a class="label label-primary pkg-label" href="{{site.baseurl}}/p/{{p[1].name}}/">{{ p[1].name }}</a>
        {% endfor %}

      </td>
      <td width="100px" class="text-center">
        <h3 style="margin-top: 5px"><small> ROS Distro</small><br>{{rendered_distro}}</h3>
      </td>
    </tr>
  </table>
  <div class="top-buffer">
  </div>
</div>
