{% comment %}
- repo
- snapshot
{% endcomment %}
  <table class="table table-sm">
    <tr>
      <td style="width:100px;" class="text-end"><b>Checkout URI</b></td>
      <td><a class="badge bg-secondary" href="{{repo.uri}}">{{repo.uri}}</a></td>
    </tr>
    <tr>
      <td class="text-end"><b>VCS Type</b></td>
      <td><span class="badge bg-secondary">{{repo.type}}</span></td>
    </tr>
    <tr>
      <td class="text-end"><b>VCS Version</b></td>
      <td><span class="badge bg-secondary">{{snapshot.version}}</span></td>
    </tr>
    <tr>
      <td style="white-space: nowrap;" class="text-end"><b>Last Updated</b></div>
      <td>
        {% if snapshot.data.last_commit_time %}
          <span class="badge bg-secondary"><i class="bi bi-clock"></i> {{snapshot.data.last_commit_time}}
        {% else %}
          <span class="badge bg-warning text-dark">UNKNOWN
        {% endif %}</span>
      </td>
    </tr>
    <tr>
      <td class="text-end"><b>Dev Status</b></td>
      <td>
        {% if repo.status %}
          {% if repo.status == 'maintained' %}
            <span class="badge bg-primary">
          {% elsif repo.status == 'developed' %}
            <span class="badge bg-success">
          {% elsif repo.status == 'end-of-life' %}
              <span class="badge bg-danger">
          {% endif %}
          {{repo.status | upcase}}
        {% else %}
          <span class="badge bg-warning text-dark">UNMAINTAINED
        {% endif %}</span>
      </td>
    </tr>
    <tr>
      <td class="text-end"><b>Released</b></td>
      <td>
        {% if snapshot.released %}
          <span class="badge bg-primary"><i class="bi bi-lightning-fill"></i> RELEASED
        {% else %}
          <span class="badge bg-secondary">UNRELEASED
        {% endif %}</span>
      </td>
    </tr>
    <tr>
      <td class="text-end"><b>Contributing</b></td>
      <td>
        <a class="badge bg-primary" href="/r/{{repo.name}}/#{{distro}}-contribute-lists-help-wanted">
          Help Wanted (<span class="contribute-lists-help-wanted-count">-</span>)
        </a>
        <br>
        <a class="badge bg-primary" href="/r/{{repo.name}}/#{{distro}}-contribute-lists-good-first-issue">
          Good First Issues (<span class="contribute-lists-good-first-issue-count">-</span>)
        </a>
        <br>
        <a class="badge bg-primary" href="/r/{{repo.name}}/#{{distro}}-contribute-lists-pull-requests">
          Pull Requests to Review (<span class="contribute-lists-pull-requests-count">-</span>)
        </a>
      </td>
    </tr>
  </table>
