---
layout: default
---

<div class="container-fluid" style="margin-top: 20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li><a href="{{site.baseurl}}/packages">Packages</a></li>
        <li class="active">{{page.package_instances.name}}</li>
      </ol>
    </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>

{% for distro in page.all_distros %}
  <div class="distro distro-{{distro}}">
    <div class="container-fluid">
      {% if page.available_distros[distro] or page.available_older_distros[distro] %}
        {% assign package = page.package_instances.snapshots[distro] %}
        {% assign instance = page.package_instances.repos[distro] %}
        {% assign show_repo = false %}

        <div class="row">
          <div class="col-md-10">
            {% include package_header.html %}
            <div class="visible-xs visible-sm">
              {% assign hide_link_labels = true %}
              {% assign horizontal = true %}
              {% include package_links.html %}
            </div>
            {% include package_body.html %}
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            {% assign hide_link_labels = false %}
            {% assign horizontal = false %}
            {% include package_links.html %}
          </div>
        </div>
      {% else %}
          <div class="alert alert-warning">No version for distro <strong>{{ distro }}</strong>. Known supported distros are highlighted in the buttons above.</div>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% comment %} Template for Q&A content {% endcomment %}
<script id="question-list-template" type="text/html">
  <p>
    Browse <a href="https://answers.ros.org/questions/scope:all/sort:activity-desc/tags:{{package.name}}/page:1/">recent questions</a>
    or see the <a href="https://answers.ros.org/questions/scope:all/sort:votes-desc/tags:{{package.name}}/page:1/">higest voted ones</a>.
  </p>
  {% raw %}
  <div class="list-group">
    {{#questions}}
    <div class="list-group-item mb-1">
      <a href="{{link}}">
        <h4 class="w-75 float-left">{{title}}</h4>
        <small class="w-25">{{updated}}</small>
      </a>
      <hr>
      <div class="question-description question-description-collapsed" id="question-description-{{id}}" title="{{link}}">
        {{&description}}
      </div>
      <a class="question-description-toggle" id="question-description-{{id}}-toggle">Show more</a>
      <a class="question-link"  target="_blank" href="{{link}}">View on answers.ros.org</a>
    </div>
    {{/questions}}
  </div>
  {% endraw %}
</script>


<script type="text/javascript">
  $(document).ready(function() {
    setupDistroSwitch("{{ page.default_distro }}");
  });
</script>
