---
layout: default
---

<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Home</a></li>
          <li class="breadcrumb-item"><a href="{{site.baseurl}}/?search_repos=true">Repos</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{page.repo.name}}</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>


{% for distro in page.all_distros %}
  <div class="distro distro-{{distro}}">
    <div class="container-fluid">
      {% unless page.available_distros[distro] or page.available_older_distros[distro] %}
        {% for fallback_distro in page.all_distros %}
          {% if page.available_distros[fallback_distro] or page.available_older_distros[fallback_distro] %}
            {% assign rendered_distro = fallback_distro %}
            {% break %} {% comment %} tfoote: check ordering of fallback, to get newest. Maybe newest LTS if possible? {% endcomment %}
          {% endif %}
        {% endfor %}
        <div class="alert alert-warning">No version for distro <strong>{{ distro }}</strong> showing <strong>{{ rendered_distro }}</strong>. Known supported distros are highlighted in the buttons above.</div>
      {% else %}
        {% assign rendered_distro = distro %}
      {% endunless %}

      {% if page.available_distros[rendered_distro] or page.available_older_distros[rendered_distro] %}
        {% assign repo = page.instances.defaults[rendered_distro] %}
        {% include repo_info.html %}
        <div class="card mb-3">
          {% assign snapshot = repo.snapshots[rendered_distro] %}
          <div class="card-header"><h3 class="card-title mb-0">Repository Summary</h3></div>
          <div class="card-body" style="overflow-x: auto">
            {% include repo_summary.html %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header"><h3 class="card-title mb-0">Packages</h3></div>
          <div class="card-body">
            {% assign n_packages = repo.snapshots[rendered_distro].packages | size %}
            {% if n_packages > 0 %}
              <table class="table table-sm table-hover table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Version</th>
                  </tr>
                </thead>
                <tbody>
                {% for p in repo.snapshots[rendered_distro].packages %}
                  <tr>
                    <td><a href="{{site.baseurl}}/p/{{p[1].name}}/">{{ p[1].name }}</a></td>
                    <td>{{ p[1].data.version }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <em>No packages found.</em>
            {% endif %}
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header"><h3 class="card-title mb-0">README</h3></div>
          <div class="card-body">
            {% if repo.snapshots[rendered_distro].data.readme %}
              {{ repo.snapshots[rendered_distro].data.readme_rendered }}
            {% else %}
              <em>No README found.</em>
            {% endif %}
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-header"><h3 class="card-title mb-0">CONTRIBUTING</h3></div>
          <div class="card-body">
            {% if repo.snapshots[rendered_distro].data.contributing_rendered %}
              {{ repo.snapshots[rendered_distro].data.contributing_rendered }}
            {% else %}
              <em>No CONTRIBUTING.md found.</em>
            {% endif %}
            <hr id="{{rendered_distro}}-contribute-lists">
            <ul class="nav nav-tabs nav-justified" id="{{rendered_distro}}-contribute-lists-tabs">
              <li class="nav-item better-tabs">
                <a class="nav-link active" href="#{{rendered_distro}}-contribute-lists-help-wanted" data-bs-toggle="tab"><span class="contribute-lists-help-wanted-count badge bg-primary">-</span> Help Wanted</a>
              </li>
              <li class="nav-item better-tabs">
                <a class="nav-link" href="#{{rendered_distro}}-contribute-lists-good-first-issue" data-bs-toggle="tab"><span class="contribute-lists-good-first-issue-count badge bg-primary">-</span> Good First Issue</a>
              </li>
              <li class="nav-item better-tabs">
                <a class="nav-link" href="#{{rendered_distro}}-contribute-lists-pull-requests" data-bs-toggle="tab"><span class="contribute-lists-pull-requests-count badge bg-primary">-</span> Pull Requests to Review</a>
              </li>
            </ul>
            <div class="tab-content contribute-lists">
              <div class="tab-pane active" id="{{rendered_distro}}-contribute-lists-help-wanted">
                <div class="contribute-lists-help-wanted"></div>
              </div>
              <div class="tab-pane" id="{{rendered_distro}}-contribute-lists-good-first-issue">
                <div class="contribute-lists-good-first-issue"></div>
              </div>
              <div class="tab-pane" id="{{rendered_distro}}-contribute-lists-pull-requests">
                <div class="contribute-lists-pull-requests"></div>
              </div>
            </div>
          </div>
        </div>

        {% assign n_errors = repo.errors | size %}
        {% if n_errors > 0 %}
          <div class="card border-danger mb-3">
            <div class="card-header bg-danger text-white"><h3 class="card-title mb-0">Indexing Errors</h3></div>
            <div class="card-body">
              <ul>
                {% for e in repo.errors %}
                  <li><em>{{e}}</em></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% else %}
        <div class="alert alert-warning" role="alert">No version for distro <strong>{{ rendered_distro }}</strong>. Known supported distros are highlighted in the buttons above.</div>
      {% endif %}
    </div>
  </div>
{% endfor %}

<script type="text/javascript" src={{ "/js/contribution_suggestions.js" | prepend: site.baseurl }}></script>
<script type="text/javascript">
  $(function() {
    setupContributeListTabLinks();
  });
  $(document).ready(function() {
    setupDistroSwitch("{{ page.default_distro }}");
    setupContributeLists("{{ repo.uri }}");
  });
</script>
