---
layout: default
---
<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="{{site.baseurl}}/">Home</a></li>
        <li class="active">Statistics</li>
      </ol>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Index</h3></div>
        <div class="panel-body" style="overflow-x:auto;">
          <ul>
            <li><strong>Repositories:</strong> {{page.n_repos}}</li>
            <li><strong>Packages:</strong> {{page.n_packages}}</li>
            <li><strong>Errors:</strong> <a href="{{site.baseurl}}/stats/errors">{{page.n_errors}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Known Packages</h3></div>
        <div class="panel-body" style="overflow-x:auto;">
          <div class="venn text-center"></div>
        </div>
      </div>
    </div>
    <div class="row">
      &nbsp;
    </div>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Distro Activity</h3></div>
        <div class="panel-body" style="overflow-x:auto;">
          <p>
          Below are histograms of repositories updated over the last 2000 days in each distro.
          </p>

        {% for hist_values in page.distro_activity %}
          {% assign distro = hist_values[0] %}
          <h3>{{distro}} <small>{{hist_values[1] | size}} repos</small></h3>
          <br><br>
          <div id="activity_hist_{{distro}}" class="text-center"></div>
        {%endfor%}
        </div>
      </div>
    </div>
  </div>
</div>

<!--
Adapted from https://github.com/benfred/venn.js/blob/master/examples/intersection_tooltip.html
 -->
<style>
.venn {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}
.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 24px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
</style>

<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="{{site.baseurl}}/js/venn.js"></script>
<script src="{{site.baseurl}}/js/mds.js"></script>
<script src="{{site.baseurl}}/js/numeric.js"></script>
<script>
// define sets and set set intersections
var sets = [
    {% for distro in page.distro_counts %}
      {sets: ["{{distro[0]}}"], size: {{distro[1]}}},
    {% endfor %}
  ],
  overlaps = [
    {% for ol in page.distro_overlaps %}
      {sets: {{ol[0]}}, size: {{ol[1]}}},
    {% endfor %}
  ];
  sets = sets.concat(overlaps);

// draw the diagram in the 'venn' div
var diagram = venn.VennDiagram();
var div = d3.select(".venn")
div.datum(sets).call(diagram);

// add a tooltip showing the size of each set/intersection
var tooltip = d3.select("body").append("div")
    .attr("class", "venntooltip");

div.selectAll("path")
  .style("stroke-opacity", 0)
  .style("stroke", "#fff")
  .style("stroke-width", 3)

// add listeners to all the groups to display tooltip on mouseover
div.selectAll("g")
    .on("mouseover", function(event, d) {
        // sort all the areas relative to the current item
        venn.sortAreas(div, d);

        // Display a tooltip with the current size
        tooltip.transition().duration(400).style("opacity", .9);
        tooltip.text(d.size + " packages");

        // highlight the current path
        var selection = d3.select(this).transition("tooltip").duration(400);
        selection.select("path")
            .style("fill-opacity", d.sets.length == 1 ? .4 : .1)
            .style("stroke-opacity", 1);
    })

    .on("mousemove", function(event) {
        tooltip.style("left", (event.pageX) + "px")
               .style("top", (event.pageY - 28) + "px");
    })

    .on("mouseout", function(event, d) {
        tooltip.transition().duration(400).style("opacity", 0);
        var selection = d3.select(this).transition("tooltip").duration(400);
        selection.select("path")
            .style("fill-opacity", d.sets.length == 1 ? .25 : .0)
            .style("stroke-opacity", 0);
    });
</script>

<style>
.bar rect {
  fill: #158cba;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
  font-size: 15px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histtooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: 24px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
</style>


<script>

function makeHist(selector, values) {
  // A formatter for counts.
  var formatCount = d3.format(",.0f");

  var margin = {top: 10, right: 30, bottom: 30, left: 30},
      width = 650 - margin.left - margin.right,
      height = 150 - margin.top - margin.bottom;

  var max_age = 2000;
  var x = d3.scaleLinear()
      .domain([1, max_age])
      .range([0, width]);

  // Generate a histogram using thirty uniformly-spaced bins.
  var histogram = d3.histogram()
      .domain(x.domain())
      .thresholds(x.ticks(30))
  var data  = histogram(values)

  var y = d3.scaleLinear()
      .domain([0, d3.max(data, function(d) { return d.length || 1; })])
      .range([height, 0]);

  var xAxis = d3.axisBottom()
      .scale(x);

  var svg = d3.select(selector).append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform", function(d) {
        return "translate(" + margin.left + "," + margin.top + ")";
      });

  var bar = svg.selectAll(".bar")
      .data(data)
    .enter().append("g")
      .attr("class", "bar")
      .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; });

  var tooltip = d3.select("body").append("div")
    .attr("class", "histtooltip");

  bar.append("rect")
      .attr("x", 1)
      .attr("width", function(d) { return x(d.x1) - x(d.x0)- 1; })
      .attr("height", function(d) { 
        return height - y(d.length); 
      })
      .on("mouseover", function(event, d) {
          d3.select(this).transition()
          .style("fill-opacity", .1)
          .style("stroke-opacity", 1);
          tooltip.transition().style("opacity", .9);
          tooltip.text(d.length);
          })
      .on("mouseout", function(event, d) {
          d3.select(this).transition()
          .style("fill-opacity", 1)
          .style("stroke-opacity", 0);
          tooltip.transition().style("opacity", 0);
      })
      .on("mousemove", function(event) {
          tooltip.style("left", (event.pageX) + "px")
                 .style("top", (event.pageY - 28) + "px");
      });

      /*
  bar.append("text")
      .attr("dy", ".75em")
      .attr("y", 6)
      .attr("x", x(data[0].dx) / 2)
      .attr("text-anchor", "middle")
      .text(function(d) { return formatCount(d.y); });
      */

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
}

{% for hist_values in page.distro_activity %}
  {% assign distro = hist_values[0] %}
  var values_{{distro}} = [{% for v in hist_values[1]%}
      {{v}},{%endfor%}];
  makeHist('#activity_hist_{{distro}}', values_{{distro}});
{% endfor %}

</script>
